<footer class="footer" id="subscribe">
    <div class="wrapper">
        <div class="footer_wrap">
            <div class="footer_title">
                Subscribe<br>
                to our updates
            </div>
            <div class="footer_title_after">
                Lorem ipsum dolor sit amet,<br> consectetur adipisicing elit, sed<br> do eiusmod tempor incididunt ut
            </div>
            <a name="myAnchor" id="myAnchor"><strong></strong></a>
            {{>form/form}}
            <div class="social">
                <div class="social_title">
                    Our networks
                </div>
                <a href="#">
                    {{>svg/fb}}
                </a>
                <a href="#">
                    {{>svg/tw}}
                </a>
                <a href="#">
                    {{>svg/vk}}
                </a>
                <a href="#">
                    {{>svg/in}}
                </a>
                <a href="#">
                    {{>svg/yt}}
                </a>
            </div>
            <div class="copyright">© Pingo Guide, 2017. All rights reserved. <a href="#">Privacy policy</a></div>
        </div>
    </div>
    <div class="footer_img" style="background-image: url('/static/img/content/footer.jpg')"></div>

</footer>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
<script src="%=static=%js/separate-js/main.js"></script>