// Common styles of the project

html, body {
  height: 100%;
  width: 100%;
  font-family: $FontGothamPro;
}

.wrapper {
  width: 1180px;
  margin: auto;
  position: relative;
  min-height: 100%;
  &_in {
    width: 980px;
    margin: auto;
    position: relative;
  }
}

.center {
  @include position(centerY);
}

section {
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  height: 125px;
  transition: height 0.3s, background 0.5s;
  font-size: 0;
  .wrapper {
    @include style(middle);
    height: 100%;
    position: relative;
  }
  .btn {
    opacity: 0;
    visibility: hidden;
    @include position(centerY);
    right: 0;
    width: 140px;
  }
  &.no-top {
    height: 70px;
    background: #fff;
    .menu li {

      a {
        color: #3a3839;
      }
      &:hover a {
        color: #57d8ff;
      }
      &.active a {
        color: #cacacc;
        &:after {
          opacity: 1;
        }
      }
    }
    .social {
      display: none;
    }
    .btn {
      opacity: 1;
      visibility: visible;
    }
  }
  &_logo {
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    width: 200px;
    &_img {
      display: inline-block;
      vertical-align: middle;
      @include bg-svg($logo);
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 24px;
      font-family: $FontGothamProBold;
      color: #57d8ff;
      margin-left: 12px;
      line-height: 33px;
      height: 30px;
    }
  }
  .social {
    @include style(middle);
    height: 100%;
    float: right;
    a {
      margin-left: 30px;
    }

  }
}

.menu {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    height: 70px;
    line-height: 70px;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      font-family: $FontGothamProBold;
      transition: color 0.5s;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: #57d8ff;
        opacity: 0;
        transition: opacity 0.5s;
      }
    }
    &:hover a {
      color: #57d8ff;
    }
    &.active a {
      color: #cacacc;
    }
  }
  &.lang {
    width: 200px;
    li {
      margin-right: 20px;
      a {
        &:after {
          display: none;
        }
      }
    }
  }
}

.social {
  a {
    display: inline-block;

  }
  svg {
    display: block;
    fill: #fff;
    transition: all .5s;
    &:hover {
      fill: #41d3ff;
    }
  }
  &_title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $FontGothamProBold;
    color: #fff;
  }
}

.btn {
  width: 170px;
  height: 50px;
  line-height: 50px;
  background: #57d8ff;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.5s;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  font-family: $FontGothamProBold;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  &:hover{
    background: #00b2ee;
  }
}

.top {
  width: 100%;
  height: 100%;
  background: url("../img/content/top-bg.jpg") center no-repeat;
  background-size: cover;
  .box {
    width: 300px;
    height: 315px;
    margin-bottom: -185px;
    left: 100px;
  }
  .form-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  &_title {
    font-size: 55px;
    font-family: $FontGothamProBold;
    color: #fff;
    &_after {
      color: #fff;
      font-size: 16px;
      margin-bottom: 40px;
      margin-top: 40px;
    }
    &_form {
      color: #fff;
      font-size: 16px;
      margin-bottom: 20px;

    }
  }
}

.how {
  width: 100%;
  height: 100%;
  background: #3a3839;
  background: url("../img/content/how.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .wrapper {
    height: 100%;
  }
  .mini_title {
    color: #fff;
    &.abs {
      position: absolute;
      left: 100px;
      top: 50%;
      margin-top: -150px;
      z-index: 3;
    }
  }
  .box {
    width: 300px;
    height: 300px;
    right: 100px;
    margin-bottom: -120px;
  }
}

.facilities {
  width: 100%;
  height: 640px;
  background: #3a3839;
  .box {
    margin-bottom: -70px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    left: 100px;
  }
  &_title {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-family: $FontGothamProBold;
    &_after {
      font-size: 14px;
      line-height: 21px;
      color: #fff;
      margin-top: 30px;
    }
  }
  &_wrap {
    width: 280px;
    padding-left: 30px;
    margin-left: 70px;
    padding-top: 100px;
  }
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video {
  @include position(centerY);
  left: 283px;
  z-index: 2;
  color: #57d8ff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $FontGothamProBold;
  &_btn {
    @include bg-svg($video);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;

  }
  i {
    display: inline-block;
    vertical-align: middle;
    width: 84px;
    height: 1px;
    background: #57d8ff;
    margin: 0 45px 0 40px;

  }

}

.mini_title {
  line-height: 30px;
  font-size: 24px;
  font-family: $FontGothamProBold;
  color: #3a3839;
  span {
    color: #57d8ff;
  }
}

.box {
  background: #3a3839;
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 300px;
  height: 300px;
  .box_in {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 30px;
    .mini_title {
      color: #fff;
    }
  }
}

.locations {
  background: #f7f7f9;
  .mini_title {
    padding-top: 70px;
    text-align: center;
    padding-bottom: 40px;
    &:before {
      content: '';
      display: block;
      width: 45px;
      height: 1px;
      background: #57d8ff;
      margin: auto;
      margin-bottom: 30px;
    }
  }
  img {
    display: block;
    margin: auto;
  }
  .after {
    font-size: 14px;
    line-height: 21px;
    color: #545253;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-bottom: 40px;
  }
}

.stay {
  background: url("../img/content/stay.jpg") bottom right no-repeat;
  background-size: contain;
  height: 500px;
  .center {
    width: 440px;
    margin-left: 140px;

  }
  &_title {
    color: #3a3839;
    font-size: 36px;
    font-family: $FontGothamProBold;
    margin-bottom: 30px;
  }
  &_after {
    font-size: 16px;
    line-height: 24px;
    color: #545253;
  }
}

.mobile {
  @include style(clearfix);
  background: #f7f7f9;
  padding: 180px 0 170px;
  &_item {
    float: left;
    clear: both;
    position: relative;
    margin-bottom: -70px;
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
    }
    &:before {
      width: 1px;
      height: 100%;
      background: linear-gradient(top, #f7f7f9 0%, #f7f7f9 50%, #57d8ff 100%);
      top: 0;

    }
    &:after {
      width: 300px;
      height: 1px;
      background: #57d8ff;
      bottom: 0;

    }
    .dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      bottom: -2px;
      background: #57d8ff;
    }
    &:nth-child(odd) {
      &:before, &:after {
        left: 100%;
        margin-left: 35px;
      }
      .mobile_number {
        left: 100%;
        margin-left: 35px;
      }
      .mobile_title {
        left: 100%;
        margin-left: 60px;
      }
      .dot {
        left: 100%;
        margin-left: 330px;
      }
    }
    &:nth-child(even) {
      float: right;
      &:before, &:after {
        right: 100%;
        margin-right: 35px;
      }
      .mobile_number {
        right: 100%;
        margin-right: 35px;
      }
      .mobile_title {
        right: 100%;
        margin-right: 60px;
        text-align: right;
      }
      .dot {
        right: 100%;
        margin-right: 330px;
      }
    }
    &:last-child {
      &:before, &:after {
        display: none;
      }
      .dot {
        display: none;
      }
    }
  }
  img {
    display: block;
  }
  &_image {
    position: relative;
    &__in {
      position: absolute;
      left: 15px;
      top: 55px;
      width: 210px;
      height: 370px;

    }
  }
  &_number {
    color: #ffffff;
    background: #57d8ff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    font-size: 24px;
    font-family: $FontGothamProBold;
    &:after, &:before {
      content: '';
      @include position(center);
      border: 1px solid #57d8ff;
      animation: border 3s infinite linear;
      border-radius: 50%;
      display: block;
      width: 50px;
      height: 50px;
      opacity: 0;
    }
    &:before {
      animation: border 3s 1.5s infinite linear;
    }
  }
  &_title {
    position: absolute;
    top: 140px;
    width: 270px;
    color: #3a3839;
    font-size: 24px;
    line-height: 30px;
    font-family: $FontGothamProBold;
  }

}

@keyframes border {
  0% {
    width: 50px;
    height: 50px;
    opacity: 0;

  }
  10% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    width: 140px;
    height: 140px;
    opacity: 0;
  }
}

.podcast {
  position: absolute;
  height: 100%;
  width: calc(50% + 190px);
  right: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}

.subscribe {
  color: #57d8ff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $FontGothamProBold;
  margin-top: 20px;
}

.about {
  background: #f7f7f9;
  @include style(clearfix);
  .mobile_image {
    width: 240px;
    margin: 130px auto;
    clear: both;

  }
  &_text {
    color: #545253;
    font-size: 16px;
    line-height: 24px;
    width: 680px;
    float: right;
    clear: both;
    padding: 100px 100px 130px 0px;
  }
}

.mob {
  &_item {
    position: absolute;
    width: 280px;
    &:before {
      content: '';
      display: inline-block;
      background: #57d8ff;
      height: 1px;
      width: 45px;
      margin-bottom: 30px;
    }
    &:nth-child(1) {
      left: 100%;
      top: -50px;
      margin-left: 135px;
      .mob_img {
        right: 100%;
      }
    }
    &:nth-child(2) {
      right: 100%;
      top: 140px;
      text-align: right;
      margin-right: 215px;

      .mob_img {
        left: 100%;
      }
    }
    &:nth-child(3) {
      left: 100%;
      bottom: -40px;
      margin-left: 190px;

      .mob_img {
        right: 100%;
      }
    }
  }
  &_img {
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    margin: 0 45px;
  }
  &_title {

    font-size: 18px;
    color: #3a3839;
    font-family: $FontGothamProBold;
    &_after {
      font-size: 14px;
      line-height: 21px;
      margin-top: 15px;
    }
  }
}

.footer {
  width: 100%;
  background: #3a3839;
  position: relative;
  @include style(clearfix)
  &_wrap {
    float: right;
    width: 350px;
    margin-left: 70px;
    padding-top: 100px;
  }
  &_img {
    position: absolute;
    height: 100%;
    width: calc(50% + 190px);
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
  }

  .copyright {
    font-size: 12px;
    color: #a09fa1;
    margin-bottom: 25px;
    a {
      color: #fff;
    }
  }
  .social {
    margin-top: 70px;
    a {
      margin-right: 30px;
      margin-top: 30px;
      margin-bottom: 70px;
    }
  }
  &_title {
    color: #fff;
    font-family: $FontGothamProBold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    &_after {
      color: #fff;
      font-size: 14px;
      line-height: 21px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
}

.form-control {
  padding-left: 50px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.5s;
  color: #545253;
  border-radius: 2px;
  font-size: 12px;
  margin-bottom: 20px;
  min-width: 300px;
}

#myAnchor{
  width: 10px;
  height: 10px;
  display: block;
}