<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
        <meta name="viewport" content="width=1200">
    </head>

    <body>
        <div class="header_video">
            <video class="video" loop autoplay>
                <source src="static/img/content/video/putina_video.mp4" type='video/mp4'>
            </video>

            <div class="header_inside">
                <div class="header_fix">
                <div class="logo">
                    <a href="" class="logo__img"></a>
                    <span class="logo__text">Pingo</span>
                </div>
                <ul class="lang">
                    <li><a href="" class="active">en</a></li>
                    <li><a href="">ua</a></li>
                </ul>
                <div class="header">
                    <a href="#about" class="header__link active">about</a>
                    <a href="#how_it" class="header__link">how it works</a>
                    <a href="#stay_in" class="header__link">stay in touch</a>
                    <a href="#facilities" class="header__link">facilities</a>
                    <a href="#location" class="header__link">locations</a>
                </div>
                <ul class="social">
                    <li><a href="" class="fb">
                        <svg xmlns="http://www.w3.org/2000/svg"  version="1.1" id="Capa_1" x="0px" y="0px" width="12px" height="12px" class="fb social__link__item" viewBox="0 0 430.113 430.114" style="enable-background:new 0 0 430.113 430.114;" xml:space="preserve">
                            <g>
                                <path id="Facebook" d="M158.081,83.3c0,10.839,0,59.218,0,59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805   c0,0,5.601-34.721,8.316-72.685c-7.784,0-67.784,0-67.784,0s0-42.127,0-49.511c0-7.4,9.717-17.354,19.321-17.354   c9.586,0,29.818,0,48.557,0c0-9.859,0-43.924,0-75.385c-25.016,0-53.476,0-66.021,0C155.878-0.004,158.081,72.48,158.081,83.3z"/>
                            </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                    </a></li>
                    <li><a href="" class="tw">
                        <svg version="1.1" id="Layer_1" width="12px" height="12px"  x="0px" y="0px"
                                     viewBox="0 0 410.155 410.155" style="enable-background:new 0 0 410.155 410.155;" xml:space="preserve" class="fb social__link__item">
                                <path d="M403.632,74.18c-9.113,4.041-18.573,7.229-28.28,9.537c10.696-10.164,18.738-22.877,23.275-37.067
                                    l0,0c1.295-4.051-3.105-7.554-6.763-5.385l0,0c-13.504,8.01-28.05,14.019-43.235,17.862c-0.881,0.223-1.79,0.336-2.702,0.336
                                    c-2.766,0-5.455-1.027-7.57-2.891c-16.156-14.239-36.935-22.081-58.508-22.081c-9.335,0-18.76,1.455-28.014,4.325
                                    c-28.672,8.893-50.795,32.544-57.736,61.724c-2.604,10.945-3.309,21.9-2.097,32.56c0.139,1.225-0.44,2.08-0.797,2.481
                                    c-0.627,0.703-1.516,1.106-2.439,1.106c-0.103,0-0.209-0.005-0.314-0.015c-62.762-5.831-119.358-36.068-159.363-85.14l0,0
                                    c-2.04-2.503-5.952-2.196-7.578,0.593l0,0C13.677,65.565,9.537,80.937,9.537,96.579c0,23.972,9.631,46.563,26.36,63.032
                                    c-7.035-1.668-13.844-4.295-20.169-7.808l0,0c-3.06-1.7-6.825,0.485-6.868,3.985l0,0c-0.438,35.612,20.412,67.3,51.646,81.569
                                    c-0.629,0.015-1.258,0.022-1.888,0.022c-4.951,0-9.964-0.478-14.898-1.421l0,0c-3.446-0.658-6.341,2.611-5.271,5.952l0,0
                                    c10.138,31.651,37.39,54.981,70.002,60.278c-27.066,18.169-58.585,27.753-91.39,27.753l-10.227-0.006
                                    c-3.151,0-5.816,2.054-6.619,5.106c-0.791,3.006,0.666,6.177,3.353,7.74c36.966,21.513,79.131,32.883,121.955,32.883
                                    c37.485,0,72.549-7.439,104.219-22.109c29.033-13.449,54.689-32.674,76.255-57.141c20.09-22.792,35.8-49.103,46.692-78.201
                                    c10.383-27.737,15.871-57.333,15.871-85.589v-1.346c-0.001-4.537,2.051-8.806,5.631-11.712c13.585-11.03,25.415-24.014,35.16-38.591
                                    l0,0C411.924,77.126,407.866,72.302,403.632,74.18L403.632,74.18z"/>
                                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                </svg>
                    </a></li>
                </ul>
                <div class="h_form">
                    <div class="h_form__block">
                        <h1>Best audioguides</h1>
                        <p class="h_form__text">Mobile app for travelers and local audioguides</p>
                        <p class="h_form__text">Subscribe to our updates</p>
                    </div>
                    <form method="get">
                        <div class="form-group required has-error has-success form-group--header">
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <div class="help-block"></div>
                        </div>
                        <div class="form-group form-group--header">
                            <input type="submit" value="subscribe" class="btn">
                        </div>
                    </form>
                </div>
                    <a href="#btn-header" class="btn-header">submit</a>
            </div>
            </div>
            <div class="square">
                <h4 class="square__title title">This is what we are about. This is our story...</h4>
            </div>
            <a href="" class="vertical_text scroll_link">scroll down</a>
        </div>
        <div class="content">
            <a href="" id="about" class="vertical_text about_us_vertical">about us</a>
            <a href="" class="vertical_text advantages_vertical">our advantages</a>
            <div class="content__color">
            <div class="wrapper">
                <div class="about_us_container">
                    <div class="vertical_text"></div>
                    <div class="about_us">
                        <div class="about_us__text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                    <div class="our_advantages">
                        <img src="static/img/content/phone_new.png" alt="" class="content-phone">
                        <div class="advantages">
                            <img src="static/img/content/advantages_1.png" alt="" class="adv_img">
                            <div class="adv_block">
                                <h3 class="adv_title">Create your own routes</h3>
                                <p class="adv_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                            </div>
                        </div>
                        <div class="advantages advantages--left">
                            <div class="adv_block ">
                                <h3 class="adv_title">See the sights on the map</h3>
                                <p class="adv_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                            </div>
                            <img src="static/img/content/adv_2.png" alt="" class="adv_img adv_img--right">
                        </div>
                        <div class="advantages">
                            <img src="static/img/content/adv_3.png" alt="" class="adv_img">
                            <div class="adv_block">
                                <h3 class="adv_title">Become a TRAVEL expert for your friends</h3>
                                <p class="adv_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!--video-block-->
            <div class="main_video">
                <a href="" id="how_it"></a>
                <div class="video_text">How it works</div>
                <div class="square square--second">
                    <h4 class="square__title title">Plan your trip today with PinGo</h4>
                    <a href="#" class="blue_text blue_text--main">subscribe to our updates</a>
                </div>
                <video class="video_main" poster="static/img/content/video_2_1.png">
                    <source src="static/img/content/video/putina_video.mp4" type='video/mp4'>
                </video>
                <div class="playpause">
                <span>watch video </span>
                </div>

            </div>
            <!--end video-block-->

            <!--how it works block-->
            <div class="how_it_works">
                <a href="" class="vertical_text how_it_vertical">how it works</a>
                <div class="wrapper">
                    <div class="how_it_works_container">
                        <div class="how_it">
                            <img src="static/img/content/how_phone.png" alt="" class="how_it_img">
                            <div class="how_it__info">
                                <div class="btn_container">
                                    <span class="pulse-button">1</span>
                                </div>
                                <p class="how_it_text">Set the city and start browsing trough various tours </p>
                                <div class="two_line">
                                    <div class="line_vertical"></div>
                                    <div class="line_horizontal"></div>
                                </div>
                            </div>
                        </div>
                        <div class="how_it how_it--right">
                            <div class="how_it__info">
                                <div class="btn_container">
                                    <span class="pulse-button">2</span>
                                </div>
                                <p class="how_it_text">Discover unique palces that many tourists and guides don’t even know exist </p>
                                <div class="two_line two_line--modif">
                                    <div class="line_vertical"></div>
                                    <div class="line_horizontal"></div>
                                </div>
                            </div>
                            <img src="static/img/content/how_phone.png" alt="" class="how_it_img">
                        </div>
                        <div class="how_it how_it--last">
                            <img src="static/img/content/how_phone.png" alt="" class="how_it_img">
                            <div class="how_it__info">
                                <div class="btn_container">
                                    <span class="pulse-button">3</span>
                                </div>
                                <p class="how_it_text">Set the city and start browsing trough various tours </p>
                            </div>
                        </div>
                </div>
                </div>
            </div>
            <!--END how it works block-->
            
            <!--facilities block-->
            <div class="facilities">
                <a href="" id="facilities" class="vertical_text facilities_vertical">facilities</a>
                <div class="facilities__info">
                    <h4 class="title">Go with guide or explore by yourself </h4>
                    <p class="facilities__info__text">You can choose one of self guided tours if you prefer
                        walking on your own</p>
                    <a href="#" class="blue_text">subscribe to our updates</a>
                    <img src="static/img/content/feel_1.png" alt="" class="facilities_pic">
                </div>
                <div class="facilities__img">
                    <div class="facilities__img__pic"></div>
                </div>
            </div>
            <!--END facilities block-->

            <!--stay in touch-->
            <div class="stay_in">
                <a href="" id="stay_in" class="vertical_text stay_in_vertical">stay in</a>
                <div class="stay_in__info">
                    <div class="stay_in__info__container">
                        <h3>Stay in touch enywhere</h3>
                        <p>Contact your guide anytime and follow the directions on your apple watch</p>
                    </div>
                </div>
                <div class="stay_in__img">
                   <div class="stay_in__img--pic"></div>
                </div>
                <!--<a href="" id="location" class="vertical_text locations_vertical">locations</a>-->

            </div>
            <!--END stay in touch-->

            <!--locations-->
            <div class="locations">
                <a href="" id="location" class="vertical_text locations_vertical">locations</a>
                <div class="wrapper">
                    <div class="locations__info">
                        <h5 class="title">Kiev is the best city for your trip</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    </div>
                    <ul class="list">
                        <li class="list__cell">
                            <span class="list__cell__numbers">149</span>
                            <span class="list__cell__text">Unique guides</span>
                        </li>
                        <li class="list__cell">
                            <span class="list__cell__numbers">60</span>
                            <span class="list__cell__text">Hours audio</span>
                        </li>
                        <li class="list__cell">
                            <span class="list__cell__numbers">1000</span>
                            <span class="list__cell__text">Beautiful spots</span>
                        </li>
                    </ul>
                    <div class="locations__foto">
                        <img src="static/img/content/andreevsky.png" alt="" class="locations__foto__big">
                        <img src="static/img/content/loc1.png" alt="" class="locations__foto__small1">
                        <img src="static/img/content/loc2.png" alt="" class="locations__foto__small2">
                        <img src="static/img/content/loc3.png" alt="" class="locations__foto__small3">
                    </div>
                </div>
                <p class="slider_title">More cites soon</p>
                <div class="slider_wrap">
                    <div class="location_slider">
                        <div class="slider__block slider__block1">
                            <a href="" class="slider_inside">
                                <img src="static/img/content/sl_4.png" alt="">
                                <p class="">Prague</p>
                            </a>
                        </div>
                        <div class="slider__block">
                            <a href="" class="slider_inside">
                                <img src="static/img/content/sl_5.png" alt="">
                                <p class="">Amsterdam</p>
                            </a>
                        </div>
                        <div class="slider__block">
                            <div class="slider_inside">
                                <img src="static/img/content/sl_6.png" alt="">
                                <p class="">Paris</p>
                            </div>
                        </div>
                        <div class="slider__block">
                            <a href="" class="slider_inside">
                                <img src="static/img/content/sl_7.png" alt="">
                                <p class="">Krakow</p>
                            </a>
                        </div>
                        <div class="slider__block">
                            <a href="" class="slider_inside">
                                <img src="static/img/content/sl_4.png" alt="">
                                <p class="">Prague</p>
                            </a>
                        </div>
                        <div class="slider__block">
                            <a href="" class="slider_inside">
                                <img src="static/img/content/sl_5.png" alt="">
                                <p class="">Amsterdam</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--locations-->

        </div>

        <footer class="footer">
            <a href="" id="btn-header" class="vertical_text subscribe_vertical">subscribe</a>
            <div class="footer__img">
                <div class="footer__img__pic"></div>
            </div>
                <div class="footer__info">
                    <div class="footer__info__inside">
                        <h4 class="title">Subscribe </br> to our updates</h4>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                    <form method="get">
                        <div class="form-group required has-error has-success">
                            <input type="text" class="form-control form-control--footer" placeholder="Enter your email address">
                            <div class="help-block"></div>
                        </div>
                        <div class="form-group form-group--footer">
                            <input type="submit" value="subscribe" class="btn btn--footer">
                        </div>
                    </form>
                    <div class="social_container">
                        <h6>Our networks</h6>
                        <div class="footer__social">
                            <a href="" class="social__link">
                                <svg version="1.1" id="Layer_1"  x="0px" y="0px" viewBox="0 0 17 10" class="vk social__link__item">
                                    <path d="M16.9,9c0,0,0-0.1-0.1-0.1c-0.3-0.5-0.9-1.2-1.7-2l0,0l0,0l0,0h0c-0.4-0.4-0.6-0.6-0.7-0.7c-0.2-0.2-0.2-0.5-0.1-0.7
                                        c0.1-0.2,0.3-0.6,0.8-1.2c0.2-0.3,0.4-0.6,0.6-0.8c1-1.4,1.5-2.3,1.3-2.7l-0.1-0.1c0-0.1-0.1-0.1-0.3-0.2c-0.1,0-0.3-0.1-0.6,0
                                        l-2.5,0c0,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.1,0l0,0l0,0c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.2c-0.3,0.7-0.6,1.4-0.9,2.1
                                        c-0.2,0.4-0.4,0.7-0.6,1c-0.2,0.3-0.3,0.5-0.5,0.6c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.2,0.1-0.2,0.1c-0.1,0-0.1,0-0.2,0
                                        c-0.1-0.1-0.1-0.1-0.2-0.2C10,4.5,10,4.4,9.9,4.3c0-0.1,0-0.3,0-0.4c0-0.1,0-0.2,0-0.4c0-0.2,0-0.3,0-0.4c0-0.2,0-0.5,0-0.8
                                        c0-0.3,0-0.5,0-0.6c0-0.2,0-0.3,0-0.5s0-0.3,0-0.4c0-0.1-0.1-0.2-0.1-0.3c0-0.1-0.1-0.2-0.2-0.2C9.6,0.2,9.5,0.2,9.4,0.1
                                        C9.1,0,8.7,0,8.2,0C7.1,0,6.4,0.1,6.1,0.2C5.9,0.3,5.8,0.4,5.7,0.5c-0.1,0.1-0.1,0.2,0,0.2C6,0.8,6.3,0.9,6.4,1.1l0.1,0.1
                                        c0,0.1,0.1,0.2,0.1,0.4c0,0.2,0.1,0.4,0.1,0.7c0,0.4,0,0.8,0,1.1c0,0.3-0.1,0.6-0.1,0.7c0,0.2-0.1,0.3-0.1,0.4
                                        C6.4,4.7,6.4,4.8,6.4,4.8c0,0,0,0,0,0c-0.1,0-0.2,0-0.2,0c-0.1,0-0.2,0-0.3-0.1C5.7,4.7,5.6,4.6,5.4,4.4C5.3,4.3,5.2,4.1,5,3.8
                                        C4.8,3.5,4.7,3.2,4.5,2.8L4.4,2.6C4.3,2.4,4.2,2.2,4,1.8C3.8,1.5,3.7,1.2,3.6,0.9c0-0.1-0.1-0.2-0.2-0.3l0,0c0,0-0.1-0.1-0.1-0.1
                                        c-0.1,0-0.1,0-0.2-0.1l-2.4,0c-0.2,0-0.4,0.1-0.5,0.2l0,0.1c0,0,0,0.1,0,0.1C0,0.9,0,1,0.1,1.1c0.4,0.9,0.7,1.7,1.2,2.5
                                        C1.6,4.4,2,5,2.3,5.5C2.6,6,2.9,6.4,3.2,6.9c0.3,0.4,0.5,0.7,0.6,0.8C4,7.8,4,7.9,4.1,8l0.2,0.2C4.5,8.3,4.7,8.5,5,8.7
                                        c0.3,0.2,0.6,0.4,0.9,0.6C6.2,9.5,6.6,9.7,7,9.8C7.5,9.9,7.9,10,8.3,10h1c0.2,0,0.4-0.1,0.5-0.2l0,0c0,0,0-0.1,0.1-0.2
                                        c0-0.1,0-0.2,0-0.3c0-0.3,0-0.5,0.1-0.7c0-0.2,0.1-0.4,0.2-0.5c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.1-0.1,0.2-0.1c0,0,0.1,0,0.1,0
                                        c0.1,0,0.3,0,0.5,0.1c0.2,0.1,0.4,0.3,0.5,0.5C11.8,8.6,12,8.8,12.2,9c0.2,0.3,0.4,0.5,0.6,0.6L13,9.7c0.1,0.1,0.3,0.1,0.5,0.2
                                        c0.2,0.1,0.4,0.1,0.5,0l2.3,0c0.2,0,0.4,0,0.5-0.1c0.1-0.1,0.2-0.2,0.2-0.3c0-0.1,0-0.2,0-0.3C16.9,9.2,16.9,9.1,16.9,9z"/>
                                </svg>
                            </a>
                            <a href="" class="social__link">
                                <svg xmlns="http://www.w3.org/2000/svg"  version="1.1" id="Capa_1" x="0px" y="0px" width="12px" height="12px" class="fb social__link__item" viewBox="0 0 430.113 430.114" style="enable-background:new 0 0 430.113 430.114;" xml:space="preserve">
                                <g>
                                    <path id="Facebook" d="M158.081,83.3c0,10.839,0,59.218,0,59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805   c0,0,5.601-34.721,8.316-72.685c-7.784,0-67.784,0-67.784,0s0-42.127,0-49.511c0-7.4,9.717-17.354,19.321-17.354   c9.586,0,29.818,0,48.557,0c0-9.859,0-43.924,0-75.385c-25.016,0-53.476,0-66.021,0C155.878-0.004,158.081,72.48,158.081,83.3z"/>
                                </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                </svg>
                            </a>
                            <a href="" class="social__link">
                                <svg version="1.1" id="Layer_1" width="12px" height="12px"  x="0px" y="0px"
                                     viewBox="0 0 410.155 410.155" style="enable-background:new 0 0 410.155 410.155;" xml:space="preserve" class="tw social__link__item">
                                <path d="M403.632,74.18c-9.113,4.041-18.573,7.229-28.28,9.537c10.696-10.164,18.738-22.877,23.275-37.067
                                    l0,0c1.295-4.051-3.105-7.554-6.763-5.385l0,0c-13.504,8.01-28.05,14.019-43.235,17.862c-0.881,0.223-1.79,0.336-2.702,0.336
                                    c-2.766,0-5.455-1.027-7.57-2.891c-16.156-14.239-36.935-22.081-58.508-22.081c-9.335,0-18.76,1.455-28.014,4.325
                                    c-28.672,8.893-50.795,32.544-57.736,61.724c-2.604,10.945-3.309,21.9-2.097,32.56c0.139,1.225-0.44,2.08-0.797,2.481
                                    c-0.627,0.703-1.516,1.106-2.439,1.106c-0.103,0-0.209-0.005-0.314-0.015c-62.762-5.831-119.358-36.068-159.363-85.14l0,0
                                    c-2.04-2.503-5.952-2.196-7.578,0.593l0,0C13.677,65.565,9.537,80.937,9.537,96.579c0,23.972,9.631,46.563,26.36,63.032
                                    c-7.035-1.668-13.844-4.295-20.169-7.808l0,0c-3.06-1.7-6.825,0.485-6.868,3.985l0,0c-0.438,35.612,20.412,67.3,51.646,81.569
                                    c-0.629,0.015-1.258,0.022-1.888,0.022c-4.951,0-9.964-0.478-14.898-1.421l0,0c-3.446-0.658-6.341,2.611-5.271,5.952l0,0
                                    c10.138,31.651,37.39,54.981,70.002,60.278c-27.066,18.169-58.585,27.753-91.39,27.753l-10.227-0.006
                                    c-3.151,0-5.816,2.054-6.619,5.106c-0.791,3.006,0.666,6.177,3.353,7.74c36.966,21.513,79.131,32.883,121.955,32.883
                                    c37.485,0,72.549-7.439,104.219-22.109c29.033-13.449,54.689-32.674,76.255-57.141c20.09-22.792,35.8-49.103,46.692-78.201
                                    c10.383-27.737,15.871-57.333,15.871-85.589v-1.346c-0.001-4.537,2.051-8.806,5.631-11.712c13.585-11.03,25.415-24.014,35.16-38.591
                                    l0,0C411.924,77.126,407.866,72.302,403.632,74.18L403.632,74.18z"/>
                                <g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                                </svg>
                            </a>
                            <a href="" class="social__link">
                                <svg version="1.1" id="Layer_1"  x="0px" y="0px" viewBox="0 0 14 14" class="insta social__link__item">
                                    <path  d="M13.5,0.5C13.1,0.2,12.7,0,12.2,0H1.8C1.3,0,0.9,0.2,0.5,0.5C0.2,0.9,0,1.3,0,1.8v10.4
                            c0,0.5,0.2,0.9,0.5,1.3C0.9,13.8,1.3,14,1.8,14h10.4c0.5,0,0.9-0.2,1.3-0.5c0.4-0.4,0.5-0.8,0.5-1.3V1.8C14,1.3,13.8,0.9,13.5,0.5z
                             M5,5c0.5-0.5,1.2-0.8,2-0.8c0.8,0,1.4,0.3,2,0.8C9.6,5.6,9.8,6.2,9.8,7c0,0.8-0.3,1.4-0.8,1.9C8.5,9.4,7.8,9.7,7,9.7
                            c-0.8,0-1.4-0.3-2-0.8C4.5,8.4,4.2,7.7,4.2,7C4.2,6.2,4.5,5.6,5,5z M12.4,11.8c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.2-0.4,0.2H2.1
                            c-0.2,0-0.3-0.1-0.4-0.2c-0.1-0.1-0.2-0.2-0.2-0.4V5.9h1.3C2.7,6.3,2.7,6.7,2.7,7.1c0,1.2,0.4,2.2,1.3,3c0.9,0.8,1.9,1.2,3.1,1.2
                            c0.8,0,1.5-0.2,2.2-0.6c0.7-0.4,1.2-0.9,1.6-1.5c0.4-0.6,0.6-1.4,0.6-2.1c0-0.4-0.1-0.8-0.2-1.2h1.2V11.8L12.4,11.8z M12.4,3.7
                            c0,0.2-0.1,0.3-0.2,0.4c-0.1,0.1-0.3,0.2-0.4,0.2h-1.6c-0.2,0-0.3-0.1-0.4-0.2C9.6,4,9.6,3.9,9.6,3.7V2.2c0-0.2,0.1-0.3,0.2-0.4
                            c0.1-0.1,0.3-0.2,0.4-0.2h1.6c0.2,0,0.3,0.1,0.4,0.2c0.1,0.1,0.2,0.3,0.2,0.4V3.7z"/>
                                </svg>
                            </a>
                            <a href="" class="social__link">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"x="0px" y="0px"
                                 viewBox="0 0 461.001 461.001" style="enable-background:new 0 0 461.001 461.001;" xml:space="preserve" class="youtube social__link__item">
                                    <g>
                                        <path d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728
                                            c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137
                                            C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607
                                            c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"/>
                                    </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                            </svg>
                            </a>
                            <a href="" class="social__link"></a>
                        </div>
                    </div>

                </div>
           
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="static/js/plugins/jquery.inview.min.js"></script>
        <script src="%=static=%js/separate-js/svg4everybody.min.js"></script>


        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="%=static=%js/main%=hash=%%=min=%.js"></script>
        <script src="static/js/main.js"></script>

        <script src="static/js/separate-js/start.js"></script>

        <!--<script>-->
            <!--$(function(){-->
                <!--$('div.blocks div').inview({-->
                    <!--'viewFactor': 0.3-->
                <!--});-->
            <!--});-->
        <!--</script>-->


    </body>

</html>