@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b {
  font-weight: normal;
}

td, td img {
  vertical-align: top;
}

input, select, button, textarea {
  margin: 0;
  font-size: 100%;
  color: #666;
}

input {
  padding-left: 20px;
}

input, textarea, button {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/* --------------- /reset.css --------------- */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfixte {
  zoom: 1;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  outline: none;
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

textarea {
  resize: none;
}

/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProRegular.woff") format("woff"), url("../fonts/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight.eot");
  src: url("../fonts/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.eot");
  src: url("../fonts/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  font-family: "GothamProRegular";
}

.header_inside {
  position: relative;
  z-index: 2;
}

.wrapper {
  display: block;
  width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.header_video {
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.header_video:before {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  width: 100%;
  z-index: 1;
}

.video_header {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: 100%;
  z-index: 1;
}

.video_header:before {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.video {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: inherit;
     object-fit: inherit;
}

.video:before {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.45;
  background-color: #1b212a;
  z-index: 5;
}

.video:before {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.45;
  background-color: #1b212a;
  z-index: 5;
}

.playpause {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 49%;
  left: 25%;
  cursor: pointer;
  z-index: 3;
}

.playpause:before {
  content: '';
  width: 45px;
  height: 45px;
  background-color: #0c050d;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.playpause:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #57d8ff;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
}

.playpause span {
  position: absolute;
  display: block;
  width: 100px;
  right: -110px;
  top: 18px;
  color: #57d8ff;
  font-size: 12px;
  text-transform: uppercase;
}

.title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.square {
  position: absolute;
  bottom: -150px;
  left: 148px;
  width: 300px;
  height: 300px;
  background-color: #3a3839;
  color: white;
  z-index: 3;
}

.square__title {
  padding: 170px 30px 30px 30px;
}

.square--second {
  left: inherit;
  right: 160px;
}

.logo {
  display: inline-block;
}

.logo__img {
  display: inline-block;
  background-image: url(../../static/img/content/logo.png);
  width: 50px;
  height: 50px;
  z-index: 1;
  vertical-align: middle;
}

.logo__text {
  display: inline-block;
  color: #57d8ff;
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

.lang {
  display: inline-block;
  margin-left: 70px;
}

.lang li {
  display: inline-block;
  margin-right: 20px;
}

.lang li a {
  color: white;
  font-family: "GothamProBold";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.lang li .active {
  color: #cacacc;
}

.header {
  display: inline-block;
  margin-left: 80px;
}

.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 40px;
  letter-spacing: 1px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-family: "GothamProBold";
}

.header__link:hover {
  color: #57d8ff;
}

.header .active {
  color: #cacacc;
}

.btn-header {
  display: none;
}

.header_inside {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
}

.js-header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  top: 50px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  z-index: 100;
}

.js-header .header__link {
  color: black;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.js-header .header__link:hover {
  color: #cacacc;
}

.js-header .social {
  display: none;
}

.js-header .lang {
  display: inline-block;
  margin-left: 70px;
  vertical-align: middle;
  line-height: 70px;
}

.js-header .h_form {
  display: none;
}

.js-header .square {
  display: none;
}

.js-header .header_fix {
  width: 1180px;
  margin: 0 auto;
}

.js-header .lang a {
  color: #000;
}

.js-header .lang .active {
  color: #cacacc;
}

.js-header .btn-header {
  width: 140px;
  height: 50px;
  border-radius: 2px;
  background-color: #57d8ff;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
}

.js-header .btn-header:hover {
  background-color: #01b8ef;
}

.social {
  display: inline-block;
}

.social li {
  display: inline-block;
  position: relative;
  z-index: 3;
}

.social li .fb {
  margin-right: 20px;
}

.social li .tw-icon {
  display: inline-block;
}

.social li .tw-icon:hover {
  fill: #41d3ff;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.social li .tw-icon svg:hover {
  fill: #41d3ff;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.content {
  position: relative;
}

.content__color {
  background-color: #f7f7f9;
  padding-top: 100px;
}

.about_us__text {
  width: 575px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 70px;
}

.about_us__text p {
  color: #545253;
  font-size: 16px;
  line-height: 24px;
}

.about_us_container {
  padding: 0 40px 100px 40px;
}

.our_advantages {
  position: relative;
}

.our_advantages .advantages {
  width: 575px;
  height: 145px;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  z-index: 2;
}

.our_advantages .advantages .adv_img {
  float: left;
  margin-right: 40px;
  margin-left: 80px;
  box-shadow: 11px 8px 10px 5px rgba(0, 0, 0, 0.02);
}

.our_advantages .advantages .adv_img--right {
  float: right;
  margin: 0;
  box-shadow: -10px 14px 24px 5px rgba(0, 0, 0, 0.02);
}

.our_advantages .advantages .adv_block {
  display: inline-block;
  width: 240px;
}

.our_advantages .advantages .adv_title {
  color: #3a3839;
  font-family: "GothamProBold";
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding-top: 28px;
  display: inline-block;
  margin-bottom: 15px;
}

.our_advantages .advantages .adv_title:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: #57d8ff;
  top: 0;
  left: 0;
}

.our_advantages .advantages .adv_text {
  color: #545253;
  font-size: 14px;
  line-height: 21px;
}

.our_advantages .advantages--left {
  margin-left: 0;
  margin-right: auto;
  width: 481px;
}

.our_advantages .advantages--left .adv_block {
  text-align: right;
}

.our_advantages .advantages--left .adv_block h3:before {
  right: 0;
  left: inherit;
}

.content-phone {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.h_form {
  color: white;
  margin-top: 150px;
  margin-left: 62px;
}

.h_form .h_form__block h1 {
  font-size: 55px;
  line-height: 48px;
  font-family: "GothamProBold";
}

.h_form .h_form__block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "GothamProLight";
  margin-bottom: 34px;
}

.h_form .h_form__block p:nth-of-type(2) {
  margin-bottom: 16px;
}

form .form-control {
  width: 300px;
  height: 48px;
  border-radius: 2px;
  background-color: #ffffff;
  border: none;
  display: inline-block;
}

form .btn {
  width: 170px;
  height: 50px;
  border-radius: 2px;
  background-color: #57d8ff;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  line-height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

form .btn:hover {
  background-color: #01b8ef;
}

form .form-group--header {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

form ::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

form ::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

form :-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

form :-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

.main_video {
  position: relative;
}

.main_video .video_text {
  position: absolute;
  color: #ffffff;
  font-family: "GothamProBold";
  font-size: 24px;
  left: 100px;
  top: 240px;
}

.video_main {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blue_text--main {
  margin-left: 30px;
}

.how_it_works {
  background-color: #f7f7f9;
  margin-top: -5px;
  position: relative;
}

.how_it_works_container {
  padding: 170px 0px 100px 27px;
  margin: 0 70px;
}

.how_it {
  display: inline-block;
}

.how_it__img {
  display: inline-block;
  vertical-align: top;
}

.how_it__info {
  display: inline-block;
  vertical-align: top;
  margin-top: 70px;
  margin-left: 35px;
}

.how_it__info .how_it_text {
  width: 256px;
  color: #3a3839;
  font-size: 24px;
  line-height: 30px;
  font-family: "GothamProBold";
  margin-left: 24px;
  margin-bottom: 20px;
}

.how_it--right {
  position: absolute;
  margin: 0;
  display: block;
  top: 495px;
  right: 110px;
}

.how_it--right .how_it__info {
  margin-left: 0;
  margin-right: 24px;
}

.how_it--right .how_it_text {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
  width: 270px;
}

.how_it--right .btn_container {
  text-align: right;
  margin-top: 50px;
}

.how_it--right .btn_container span {
  text-align: center;
}

.how_it--last {
  margin-top: 295px;
}

.two_line {
  position: relative;
  width: 300px;
  height: 200px;
  margin-left: 24px;
}

.line_vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 200px;
  background-image: -webkit-linear-gradient(bottom, #57d8ff 0%, rgba(87, 216, 255, 0) 100%);
  background-image: linear-gradient(to top, #57d8ff 0%, rgba(87, 216, 255, 0) 100%);
}

.line_horizontal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 1px;
  background-color: #57d8ff;
}

.line_horizontal:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #57d8ff;
  border-radius: 50%;
  right: 0;
  bottom: -2px;
}

.two_line--modif .line_vertical {
  right: 0;
  left: inherit;
}

.two_line--modif .line_horizontal:after {
  left: 0;
}

.btn_container {
  display: block;
  margin-bottom: 35px;
}

.pulse-button {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  display: inline-block;
  font-family: "GothamProBold";
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 rgba(87, 216, 255, 0.7);
  border-radius: 100%;
  background: #57d8ff;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0.33, 0, 1);
          animation: pulse 2s infinite cubic-bezier(0.66, 0.33, 0, 1);
}

.pulse-button:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
  }
}

.facilities {
  width: 100%;
  font-size: 0;
  position: relative;
}

.facilities__info {
  display: inline-block;
  width: 35%;
  background-color: #3a3839;
  padding: 110px 40px 70px 180px;
  box-sizing: border-box;
  color: white;
  height: 640px;
  vertical-align: top;
  position: relative;
  color: white;
}

.facilities__info h4 {
  font-size: 24px;
  margin-bottom: 24px;
  line-height: 30px;
}

.facilities__info__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 30px;
}

.facilities__info .facilities_pic {
  position: absolute;
  bottom: -70px;
  right: 0;
}

.facilities__img {
  display: inline-block;
  width: 65%;
  height: 640px;
  vertical-align: top;
}

.facilities__img__pic {
  background-image: url(../../static/img/content/facilities.png);
  background-size: cover;
  height: 640px;
}

.blue_text {
  text-transform: uppercase;
  color: #57d8ff;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.stay_in {
  width: 100%;
  font-size: 0;
  position: relative;
}

.stay_in__info {
  display: inline-block;
  width: 50%;
  height: 640px;
  vertical-align: top;
  position: relative;
}

.stay_in__info__container {
  width: 428px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stay_in__info__container h3 {
  color: #3a3839;
  font-size: 28px;
  margin-bottom: 36px;
  font-family: "GothamProBold";
}

.stay_in__info__container p {
  color: #545253;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.stay_in__img {
  display: inline-block;
  width: 50%;
  height: 640px;
  vertical-align: top;
}

.stay_in__img--pic {
  background-image: url(../../static/img/content/watch.png);
  background-size: cover;
  height: 640px;
}

.locations {
  background-color: #f7f7f9;
  padding: 70px 0;
  position: relative;
}

.locations__info {
  width: 400px;
  margin: 0 auto;
}

.locations__info h5 {
  color: #3a3839;
  margin-bottom: 35px;
  padding-top: 30px;
  position: relative;
  font-family: "GothamProBold";
}

.locations__info h5:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: #57d8ff;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}

.locations__info p {
  color: #545253;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.locations__foto {
  width: 580px;
  margin: 0px auto 15px;
  position: relative;
}

.locations__foto__small1 {
  position: absolute;
  bottom: 80px;
  right: -190px;
}

.locations__foto__small2 {
  position: absolute;
  left: -150px;
  top: 245px;
  z-index: 3;
}

.locations__foto__small3 {
  position: absolute;
  left: -200px;
  top: 200px;
}

.list {
  width: 580px;
  margin: 26px auto;
}

.list__cell {
  display: inline-block;
  width: 32%;
  text-align: center;
}

.list__cell__numbers {
  display: block;
  font-family: "GothamProBold";
  color: #57d8ff;
  font-size: 24px;
  margin-bottom: 19px;
}

.list__cell__text {
  display: block;
  color: #545253;
  font-size: 14px;
}

.slider_title {
  color: #3a3839;
  padding-top: 30px;
  position: relative;
  font-family: "GothamProBold";
  text-align: center;
  font-size: 24px;
  width: 400px;
  margin: 40px auto;
}

.slider_title:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 1px;
  background-color: #57d8ff;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}

.slider_wrap {
  width: 100%;
  overflow: hidden;
}

.slider__block {
  display: inline-block;
  vertical-align: top;
}

.slider_inside {
  width: 280px;
  height: 280px !important;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.slider_inside:after {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider_inside:hover:after {
  background: rgba(0, 0, 0, 0.1);
}

.slider_inside p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 18px;
  z-index: 4;
}

.footer {
  font-size: 0;
  position: relative;
}

.footer__info {
  background-color: #3a3839;
  display: inline-block;
  width: 35%;
  height: 640px;
  vertical-align: top;
  padding: 115px 50px 70px 50px;
  box-sizing: border-box;
  font-size: 0;
}

.footer__info__inside {
  width: 230px;
}

.footer__info__inside h4 {
  font-size: 24px;
  margin-bottom: 40px;
}

.footer__info__inside p {
  font-size: 14px;
  line-height: 21px;
  color: white;
  margin-bottom: 25px;
}

.footer__img {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  height: 640px;
  font-size: 0;
}

.footer__img__pic {
  background-image: url(../../static/img/content/footer_img.png);
  background-size: cover;
  height: 640px;
}

.footer .form-control--footer {
  font-size: 12px;
  margin-bottom: 20px;
}

.footer ::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

.footer ::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

.footer :-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

.footer :-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 30px;
}

.social_container {
  margin-top: 100px;
}

.social_container h6 {
  color: #ffffff;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.btn--footer {
  font-size: 12px;
}

.social__link__item {
  width: 13px;
  height: 13px;
  fill: #ffffff;
  margin-right: 25px;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.social__link__item:hover {
  fill: #41d3ff;
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.vk {
  width: 18px;
}

.vertical_text {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  text-transform: uppercase;
  color: #929294;
  font-size: 12px;
  position: absolute;
  letter-spacing: 1px;
  left: 10px;
  bottom: 100px;
  font-family: "GothamProBold";
}

.about_us_vertical {
  left: 25px;
  bottom: inherit;
  top: 50px;
}

.advantages_vertical {
  left: -4px;
  bottom: inherit;
  top: 250px;
}

.how_it_vertical {
  left: 10px;
  bottom: inherit;
  top: 100px;
}

.facilities_vertical {
  left: 10px;
  bottom: inherit;
  top: 100px;
}

.stay_in_vertical {
  left: 35px;
  bottom: inherit;
  top: 100px;
}

.locations_vertical {
  left: 10px;
  bottom: inherit;
  top: 100px;
}

.subscribe_vertical {
  left: 10px;
  bottom: inherit;
  top: 100px;
  color: white;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -33px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/*# sourceMappingURL=main.css.map */
