// Common styles of the project

html, body {
    height: 100%;
}

body{
    font-family: "GothamProRegular";
}
.header_inside{
    position: relative;
    z-index: 2;
}
.wrapper{
    display: block;
    width: 1180px;
    margin: 0 auto;
    //padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}
.header_video{
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
    &:before {
        content: " ";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        top: 0;
        width: 100%;
        z-index: 1;
        //background-color: rgba(39, 42, 51, 0.5);
    }
}
.video_header{
    position: relative;
    width: 100%;
    height: 100%;
    //object-fit: inherit;
    background-position: 100%;
    z-index: 1;
    &:before{
        content: '';
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
}
.video {
    //-webkit-background-size: cover;
    //background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: inherit;
    //overflow: hidden;
    &:before {
        content: " ";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 0.45;
        background-color: #1b212a;
        z-index: 5;
        //background-color: rgba(39, 42, 51, 0.5);
    }
}
.video:before {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.45;
    background-color: #1b212a;
    z-index: 5;
    //background-color: rgba(39, 42, 51, 0.5);
}
.playpause{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 49%;
    left: 25%;
    cursor: pointer;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    z-index: 3;
    &:before{
        content: '';
        width: 45px;
        height: 45px;
        background-color: #0c050d;
        opacity: 0.5;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-left: 10px solid #57d8ff;;
        border-bottom: 5px solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    span{
        position: absolute;
        display: block;
        width: 100px;
        right: -110px;
        top: 18px;
        color: #57d8ff;
        font-size: 12px;
        text-transform: uppercase;
    }
}
.title{
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.square{
    position: absolute;
    bottom: -150px;
    left: 148px;
    width: 300px;
    height: 300px;
    background-color: #3a3839;
    color: white;
    z-index: 3;
    &__title{
        padding: 170px 30px 30px 30px;
    }
}
.square--second{
    left: inherit;
    right: 160px;
}
.logo{
    display: inline-block;
    &__img{
        display: inline-block;
        background-image: url(../../static/img/content/logo.png);
        width: 50px;
        height: 50px;
        z-index: 1;
        vertical-align: middle;
    }
    &__text{
        display: inline-block;
        color: #57d8ff;
        font-size: 24px;
        line-height: 48px;
        vertical-align: middle;
    }
}
.lang{
    display: inline-block;
    margin-left: 70px;
    li{
        display: inline-block;
        margin-right: 20px;
        a{
            color: white;
            //font-family: "GothamProRegular";
            font-family: "GothamProBold";
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1px;
        }
        .active{
            color: #cacacc;
        }
    }
}
.header{
    display: inline-block;
    margin-left: 80px;
    &__link{
        color: white;
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 40px;
        letter-spacing: 1px;
        transition: color 0.5s;
        font-family: "GothamProBold";
        &:hover{
            color: #57d8ff;
        }
    }
    .active{
        color: #cacacc;
    }
}
.btn-header{
    display: none;
}
.header_inside{
    position: absolute;
    top: 35px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 1180px;
}
.js-header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    top:50px;
    transition: background-color 0.5s;
    z-index: 100;
    .header__link{
        color: black;
        transition: color 0.5s;
        &:hover{
            color: #cacacc;
        }
    }
    .social{
        display: none;
    }
    .lang {
        display: inline-block;
        margin-left: 70px;
        vertical-align: middle;
        line-height: 70px;
    }
    .h_form{
        display: none;
    }
    .square{
        display: none;
    }
    .header_fix{
        width: 1180px;
        margin: 0 auto;
    }
    .lang{
        a{
            color: #000;
        }
        .active{
            color: #cacacc;
        }
    }

    .btn-header{
        width: 140px;
        height: 50px;
        border-radius: 2px;
        background-color: #57d8ff;
        display: inline-block;
        color: white;
        text-transform: uppercase;
        border: none;
        font-size: 12px;
        line-height: 50px;
        text-align: center;
        &:hover{
            background-color:#01b8ef;
        }
    }
}
.social{
    display: inline-block;
    li{
        display: inline-block;
        position: relative;
        z-index: 3;
        .fb{
            margin-right: 20px;
        }
        .tw-icon{
            display: inline-block;
            &:hover {
                fill: #41d3ff;
                transition: fill 0.5s;
            }
            svg{
                &:hover {
                    fill: #41d3ff;
                    transition: fill 0.5s;
                }
            }
        }
    }
}

//content
.content{
    position: relative;
}
.content__color{
    background-color: #f7f7f9;
    padding-top: 100px;
}
.about_us__text{
    width: 575px;
    //float: right;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 70px;
    p{
        color: #545253;
        font-size: 16px;
        line-height: 24px;
    }
}
.about_us_container{
    padding: 0 40px 100px 40px;
}
.our_advantages{
    position: relative;
    .advantages{
        width: 575px;
        height: 145px;
        margin-left: auto;
        margin-right: 0;
        position: relative;
        z-index: 2;
        .adv_img{
            float: left;
            margin-right: 40px;
            margin-left: 80px;
            box-shadow: 11px 8px 10px 5px rgba(0, 0, 0, 0.02);
        }
        .adv_img--right{
            float: right;
            margin: 0;
            box-shadow: -10px 14px 24px 5px rgba(0, 0, 0, 0.02);
        }
        .adv_block{
            display: inline-block;
            width: 240px;
        }
        .adv_title{
            color: #3a3839;
            font-family: "GothamProBold";
            font-size: 18px;
            line-height: 24px;
            position: relative;
            padding-top: 28px;
            display: inline-block;
            margin-bottom: 15px;
            &:before{
                content: '';
                position: absolute;
                width: 45px;
                height: 1px;
                background-color: #57d8ff;
                top: 0;
                left: 0;
            }
        }
        .adv_text{
            color: #545253;
            font-size: 14px;
            line-height: 21px;
        }
    }
    .advantages--left{
        margin-left: 0;
        margin-right: auto;
        width: 481px;
        .adv_block{
            text-align: right;
            h3{
                &:before{
                    right: 0;
                    left: inherit;
                }
            }
        }
    }
}
.float{

}
.content-phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.h_form{
    color: white;
    margin-top: 150px;
    margin-left: 62px;
    .h_form__block {
        h1 {
            font-size: 55px;
            line-height: 48px;
            font-family: "GothamProBold";

        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            font-family: "GothamProLight";
            margin-bottom: 34px;
            &:nth-of-type(2){
                margin-bottom: 16px;
            }
        }
    }
}
form{
    .form-control{
        width: 300px;
        height: 48px;
        border-radius: 2px;
        background-color: #ffffff;
        border: none;
        display: inline-block;
    }
    .btn{
        width: 170px;
        height: 50px;
        border-radius: 2px;
        background-color: #57d8ff;
        display: inline-block;
        color: white;
        text-transform: uppercase;
        border: none;
        font-size: 12px;
        line-height: 50px;
        transition: 0.5s;
        &:hover{
            background-color:#01b8ef;
        }
    }
    .form-group--header{
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }
    ::-webkit-input-placeholder {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }
    ::-moz-placeholder{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }
    :-moz-placeholder{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }
    :-ms-input-placeholder{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }
}

//video blocl
.main_video{
    position: relative;
    .video_text{
        position: absolute;
        color: #ffffff;
        font-family: "GothamProBold";
        font-size: 24px;
        left: 100px;
        top: 240px;
    }
}
.video_main{
    width: 100%;
    object-fit: cover;
}
.blue_text--main{
    margin-left: 30px;
}


//how_it_works
.how_it_works{
    background-color: #f7f7f9;
    margin-top: -5px;
    position: relative;
}
.how_it_works_container{
    padding: 170px 0px 100px 27px;
    margin: 0 70px;
}
.how_it{
    display: inline-block;
    &__img{
        display: inline-block;
        vertical-align: top;
    }
    &__info{
        display: inline-block;
        vertical-align: top;
        margin-top: 70px;
        margin-left: 35px;
        .how_it_text{
            width: 256px;
            color: #3a3839;
            font-size: 24px;
            line-height: 30px;
            font-family: "GothamProBold";
            margin-left: 24px;
            margin-bottom: 20px;
        }
    }
}
.how_it--right{
    position: absolute;
    margin: 0;
    display: block;
    top: 495px;
    right: 110px;
    .how_it__info{
        margin-left: 0;
        margin-right: 24px;
    }
    .how_it_text{
        margin-left: auto;
        margin-right: 0;
        text-align: right;
        width: 270px;
    }
    .btn_container{
        text-align: right;
        margin-top: 50px;
        span{
            text-align: center;
        }
    }
}
.how_it--last{
    margin-top: 295px;
}
.two_line{
    position: relative;
    width: 300px;
    height: 200px;
    margin-left: 24px;
}
.line_vertical{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 200px;
    background-image: linear-gradient(to top, #57d8ff 0%, rgba(87, 216, 255, 0) 100%);
}
.line_horizontal{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 1px;
    background-color: #57d8ff;
    &:after{
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #57d8ff;
        border-radius: 50%;
        right: 0;
        bottom: -2px;
    }
}
.two_line--modif{
    .line_vertical{
        right: 0;
        left: inherit;
    }
    .line_horizontal{
        &:after{
            left: 0;
        }

    }
}
.btn_container {
    display: block;
    margin-bottom: 35px;

}
.pulse-button {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-family: "GothamProBold";
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    border: none;
    box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 rgba(87, 216, 255, 0.7);
    border-radius: 100%;
    background: #57d8ff;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    animation: pulse 2s infinite cubic-bezier(0.66, 0.33, 0, 1);
}
.pulse-button:hover {
    animation-play-state: paused;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(90, 153, 212, 0);
    }
}

.facilities{
    width: 100%;
    font-size: 0;
    position: relative;
    &__info{
        display: inline-block;
        width: 35%;
        background-color: #3a3839;
        padding: 110px 40px 70px 180px;
        box-sizing: border-box;
        color: white;
        height: 640px;
        vertical-align: top;
        position: relative;
        color: white;
        h4{
            font-size: 24px;
            margin-bottom: 24px;
            line-height: 30px;
        }
        &__text{
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            margin-bottom: 30px;
        }
        .facilities_pic{
            position: absolute;
            bottom: -70px;
            right: 0;
        }
    }
    &__img{
        display: inline-block;
        width: 65%;
        height: 640px;
        vertical-align: top;
       &__pic{
           background-image: url(../../static/img/content/facilities.png);
           -webkit-background-size: cover;
           background-size: cover;
           height: 640px;
       }
    }
}
.blue_text{
    text-transform: uppercase;
    color: #57d8ff;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.5px;
}
//stay in touch
.stay_in{
    width: 100%;
    font-size: 0;
    position: relative;
    &__info{
        display: inline-block;
        width: 50%;
        height: 640px;
        vertical-align: top;
        position: relative;
        &__container {
            width: 428px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h3 {
                color: #3a3839;
                font-size: 28px;
                margin-bottom: 36px;
                font-family: "GothamProBold";
            }
            p {
                color: #545253;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
            }
        }
    }
    &__img{
        display: inline-block;
        width: 50%;
        height: 640px;
        vertical-align: top;
        &--pic{
            background-image: url(../../static/img/content/watch.png);
            -webkit-background-size: cover;
            background-size: cover;
            height: 640px;
        }

    }
}

//locations
.locations{
    background-color: #f7f7f9;
    padding: 70px 0;
    position: relative;
    &__info{
        width: 400px;
        margin: 0 auto;
        h5{
            color: #3a3839;
            margin-bottom: 35px;
            padding-top: 30px;
            position: relative;
            font-family: "GothamProBold";
            &:before{
                content: '';
                position: absolute;
                width: 45px;
                height: 1px;
                background-color: #57d8ff;
                top: 0;
                margin-right: auto;
                margin-left: auto;
                left: 0;
                right: 0;
            }
        }
        p{
            color: #545253;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
    }
    &__foto{
        width: 580px;
        margin: 0px auto 15px;
        position: relative;
        &__small1{
            position: absolute;
            bottom: 80px;
            right: -190px;
        }
        &__small2{
            position: absolute;
            left: -150px;
            top: 245px;
            z-index: 3;
        }
        &__small3{
            position: absolute;
            left: -200px;
            top: 200px;
        }
    }
}
.list{
    width: 580px;
    margin: 26px auto;

    &__cell{
        display: inline-block;
        width: 32%;
        text-align: center;
        &__numbers{
            display: block;
            font-family: "GothamProBold";
            color: #57d8ff;
            font-size: 24px;
            margin-bottom: 19px;
        }
        &__text{
            display: block;
            color: #545253;
            font-size: 14px;
        }
    }
}
.slider_title{
    color: #3a3839;
    padding-top: 30px;
    position: relative;
    font-family: "GothamProBold";
    text-align: center;
    font-size: 24px;
    width: 400px;
    margin: 40px auto;
    &:before{
        content: '';
        position: absolute;
        width: 45px;
        height: 1px;
        background-color: #57d8ff;
        top: 0;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
    }

}
.slider_wrap{
    width: 100%;
    overflow: hidden;
}
.slider__block{
    //background-image: url(../../static/img/content/sl1.png);
    display: inline-block;
    vertical-align: top;
}
.slider_inside{
    //background-image: url(../../static/img/content/sl1.png);
    width: 280px;
    height: 280px !important;
    display: inline-block;
    vertical-align: top;
    position: relative;
    &:after{
        content: '';
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 280px;
        height: 280px !important;
        transition: 0.5s;
    }
    &:hover{
        &:after{
            background: rgba(0, 0, 0, 0.1);
        }
    }
    img{

    }
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 18px;
        z-index: 4;
    }
}

.footer{
    font-size: 0;
    position: relative;
    &__info{
        background-color: #3a3839;
        display: inline-block;
        width: 35%;
        height: 640px;
        vertical-align: top;
        padding: 115px 50px 70px 50px;
        box-sizing: border-box;
        font-size: 0;
        &__inside {
            width: 230px;
            h4 {
                font-size: 24px;
                margin-bottom: 40px;
            }
            p {
                font-size: 14px;
                line-height: 21px;
                color: white;
                margin-bottom: 25px;
            }
        }
    }
    &__img{
        display: inline-block;
        vertical-align: top;
        width: 65%;
        height: 640px;
        font-size: 0;
        &__pic{
            //width: 100%;
            background-image: url(../../static/img/content/footer_img.png);
            background-size: cover;
            height: 640px;
        }
    }
    .form-control--footer{
        font-size: 12px;
        margin-bottom: 20px;
    }
    ::-webkit-input-placeholder {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }
    ::-moz-placeholder{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }
    :-moz-placeholder{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }
    :-ms-input-placeholder{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 30px;
    }
}
.social_container{
    margin-top: 100px;
    h6{
        color: #ffffff;
        font-size: 12px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
}
.btn--footer{
    font-size: 12px;
}
.social__link__item{
    width: 13px;
    height: 13px;
    fill: #ffffff;
    margin-right: 25px;
    transition: fill 0.5s;
    &:hover{
        fill: #41d3ff;
        transition: fill 0.5s;
    }
}
.vk{
    width: 18px;
}
.vertical_text{
    -ms-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    transform: rotate(270deg);
    text-transform: uppercase;
    color: #929294;
    font-size: 12px;
    position: absolute;
    letter-spacing: 1px;
    left: 10px;
    bottom: 100px;
    font-family: "GothamProBold";
}
.about_us_vertical{
    left: 25px;
    bottom: inherit;
    top: 50px;
}
.advantages_vertical{
    left: -4px;
    bottom: inherit;
    top: 250px;
}
.how_it_vertical{
    left: 10px;
    bottom: inherit;
    top: 100px;
}
.facilities_vertical{
    left: 10px;
    bottom: inherit;
    top: 100px;
}
.stay_in_vertical{
    left: 35px;
    bottom: inherit;
    top: 100px;
}
.locations_vertical{
    left: 10px;
    bottom: inherit;
    top: 100px;
}
.subscribe_vertical{
    left: 10px;
    bottom: inherit;
    top: 100px;
    color: white;
}
//.block-left {
//    padding-top: 100px;
//    opacity: 0.5;
//    -webkit-transform: translateY(-80px);
//    -moz-transform: translateY(-80px);
//    transform: translateY(-80px);
//    transition: 0.5s;
//}
//.block-right {
//    opacity: 0;
//    -webkit-transform: translateX(80px);
//    -moz-transform: translateX(80px);
//    transform: translateX(80px);
//}