html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  border-radius: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a:hover, a:active {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
@include respond-to(hd) {}
@include respond-to(d) {}
@include respond-to(t) {}
@include respond-to(m) {}
*/
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../fonts/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.section {
  width: 100%;
  min-height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Gotham Pro";
}

.wrapper {
  width: 1180px;
  margin: auto;
  position: relative;
  min-height: 100%;
}

.wrapper_in {
  width: 980px;
  margin: auto;
  position: relative;
}

.center {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

section {
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  height: 125px;
  -webkit-transition: height 0.3s, background 0.5s;
  transition: height 0.3s, background 0.5s;
  font-size: 0;
}

.header .wrapper {
  height: 100%;
  position: relative;
}

.header .wrapper:before, .header .wrapper:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 1px;
}

.header .wrapper:before {
  margin-left: -1px;
}

.header .wrapper:after {
  margin-right: -1px;
}

.header .btn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 0;
  width: 140px;
}

.header.no-top {
  height: 70px;
  background: #fff;
}

.header.no-top .menu li a {
  color: #3a3839;
}

.header.no-top .menu li:hover a {
  color: #57d8ff;
}

.header.no-top .menu li.active a {
  color: #cacacc;
}

.header.no-top .menu li.active a:after {
  opacity: 1;
}

.header.no-top .social {
  display: none;
}

.header.no-top .btn {
  opacity: 1;
  visibility: visible;
}

.header_logo {
  vertical-align: middle;
  display: inline-block;
  font-size: 0;
  width: 200px;
}

.header_logo_img {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -88px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.header_logo span {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-family: "Gotham Pro Bold";
  color: #57d8ff;
  margin-left: 12px;
  line-height: 33px;
  height: 30px;
}

.header .social {
  height: 100%;
  float: right;
}

.header .social:before, .header .social:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 1px;
}

.header .social:before {
  margin-left: -1px;
}

.header .social:after {
  margin-right: -1px;
}

.header .social a {
  margin-left: 30px;
}

.menu {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.menu li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  height: 70px;
  line-height: 70px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  display: block;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Gotham Pro Bold";
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  position: relative;
}

.menu li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #57d8ff;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.menu li:hover a {
  color: #57d8ff;
}

.menu li.active a {
  color: #cacacc;
}

.menu.lang {
  width: 200px;
}

.menu.lang li {
  margin-right: 20px;
}

.menu.lang li a:after {
  display: none;
}

.social a {
  display: inline-block;
}

.social svg {
  display: block;
  fill: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.social svg:hover {
  fill: #41d3ff;
}

.social_title {
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Gotham Pro Bold";
  color: #fff;
}

.btn {
  width: 170px;
  height: 50px;
  line-height: 50px;
  background: #57d8ff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  font-family: "Gotham Pro Bold";
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.btn:hover {
  background: #00b2ee;
}

.top {
  width: 100%;
  height: 100%;
  background: url("../img/content/top-bg.jpg") center no-repeat;
  background-size: cover;
}

.top .box {
  width: 300px;
  height: 315px;
  margin-bottom: -185px;
  left: 100px;
}

.top .form-group {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.top_title {
  font-size: 55px;
  font-family: "Gotham Pro Bold";
  color: #fff;
}

.top_title_after {
  color: #fff;
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.top_title_form {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

.how {
  width: 100%;
  height: 100%;
  background: #3a3839;
  background: url("../img/content/how.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.how .wrapper {
  height: 100%;
}

.how .mini_title {
  color: #fff;
}

.how .mini_title.abs {
  position: absolute;
  left: 100px;
  top: 50%;
  margin-top: -150px;
  z-index: 3;
}

.how .box {
  width: 300px;
  height: 300px;
  right: 100px;
  margin-bottom: -120px;
}

.facilities {
  width: 100%;
  height: 640px;
  background: #3a3839;
}

.facilities .box {
  margin-bottom: -70px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
  left: 100px;
}

.facilities_title {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-family: "Gotham Pro Bold";
}

.facilities_title_after {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  margin-top: 30px;
}

.facilities_wrap {
  width: 280px;
  padding-left: 30px;
  margin-left: 70px;
  padding-top: 100px;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.video {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 283px;
  z-index: 2;
  color: #57d8ff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Gotham Pro Bold";
}

.video_btn {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: -4px -4px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.video i {
  display: inline-block;
  vertical-align: middle;
  width: 84px;
  height: 1px;
  background: #57d8ff;
  margin: 0 45px 0 40px;
}

.mini_title {
  line-height: 30px;
  font-size: 24px;
  font-family: "Gotham Pro Bold";
  color: #3a3839;
}

.mini_title span {
  color: #57d8ff;
}

.box {
  background: #3a3839;
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 300px;
  height: 300px;
}

.box .box_in {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 30px;
}

.box .box_in .mini_title {
  color: #fff;
}

.locations {
  background: #f7f7f9;
}

.locations .mini_title {
  padding-top: 70px;
  text-align: center;
  padding-bottom: 40px;
}

.locations .mini_title:before {
  content: '';
  display: block;
  width: 45px;
  height: 1px;
  background: #57d8ff;
  margin: auto;
  margin-bottom: 30px;
}

.locations img {
  display: block;
  margin: auto;
}

.locations .after {
  font-size: 14px;
  line-height: 21px;
  color: #545253;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 40px;
}

.stay {
  background: url("../img/content/stay.jpg") bottom right no-repeat;
  background-size: contain;
  height: 500px;
}

.stay .center {
  width: 440px;
  margin-left: 140px;
}

.stay_title {
  color: #3a3839;
  font-size: 36px;
  font-family: "Gotham Pro Bold";
  margin-bottom: 30px;
}

.stay_after {
  font-size: 16px;
  line-height: 24px;
  color: #545253;
}

.mobile {
  background: #f7f7f9;
  padding: 180px 0 170px;
}

.mobile:after {
  content: "";
  display: table;
  clear: both;
}

.mobile_item {
  float: left;
  clear: both;
  position: relative;
  margin-bottom: -70px;
}

.mobile_item:before, .mobile_item:after {
  content: '';
  position: absolute;
  display: block;
}

.mobile_item:before {
  width: 1px;
  height: 100%;
  background: -webkit-linear-gradient(top, #f7f7f9 0%, #f7f7f9 50%, #57d8ff 100%);
  background: linear-gradient(top, #f7f7f9 0%, #f7f7f9 50%, #57d8ff 100%);
  top: 0;
}

.mobile_item:after {
  width: 300px;
  height: 1px;
  background: #57d8ff;
  bottom: 0;
}

.mobile_item .dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  bottom: -2px;
  background: #57d8ff;
}

.mobile_item:nth-child(odd):before, .mobile_item:nth-child(odd):after {
  left: 100%;
  margin-left: 35px;
}

.mobile_item:nth-child(odd) .mobile_number {
  left: 100%;
  margin-left: 35px;
}

.mobile_item:nth-child(odd) .mobile_title {
  left: 100%;
  margin-left: 60px;
}

.mobile_item:nth-child(odd) .dot {
  left: 100%;
  margin-left: 330px;
}

.mobile_item:nth-child(even) {
  float: right;
}

.mobile_item:nth-child(even):before, .mobile_item:nth-child(even):after {
  right: 100%;
  margin-right: 35px;
}

.mobile_item:nth-child(even) .mobile_number {
  right: 100%;
  margin-right: 35px;
}

.mobile_item:nth-child(even) .mobile_title {
  right: 100%;
  margin-right: 60px;
  text-align: right;
}

.mobile_item:nth-child(even) .dot {
  right: 100%;
  margin-right: 330px;
}

.mobile_item:last-child:before, .mobile_item:last-child:after {
  display: none;
}

.mobile_item:last-child .dot {
  display: none;
}

.mobile img {
  display: block;
}

.mobile_image {
  position: relative;
}

.mobile_image__in {
  position: absolute;
  left: 15px;
  top: 55px;
  width: 210px;
  height: 370px;
}

.mobile_number {
  color: #ffffff;
  background: #57d8ff;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  font-size: 24px;
  font-family: "Gotham Pro Bold";
}

.mobile_number:after, .mobile_number:before {
  content: '';
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 1px solid #57d8ff;
  -webkit-animation: border 3s infinite linear;
          animation: border 3s infinite linear;
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.mobile_number:before {
  -webkit-animation: border 3s 1.5s infinite linear;
          animation: border 3s 1.5s infinite linear;
}

.mobile_title {
  position: absolute;
  top: 140px;
  width: 270px;
  color: #3a3839;
  font-size: 24px;
  line-height: 30px;
  font-family: "Gotham Pro Bold";
}

@-webkit-keyframes border {
  0% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  10% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    width: 140px;
    height: 140px;
    opacity: 0;
  }
}

@keyframes border {
  0% {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  10% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    width: 140px;
    height: 140px;
    opacity: 0;
  }
}

.podcast {
  position: absolute;
  height: 100%;
  width: calc(50% + 190px);
  right: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}

.subscribe {
  color: #57d8ff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Gotham Pro Bold";
  margin-top: 20px;
}

.about {
  background: #f7f7f9;
}

.about:after {
  content: "";
  display: table;
  clear: both;
}

.about .mobile_image {
  width: 240px;
  margin: 130px auto;
  clear: both;
}

.about_text {
  color: #545253;
  font-size: 16px;
  line-height: 24px;
  width: 680px;
  float: right;
  clear: both;
  padding: 100px 100px 130px 0px;
}

.mob_item {
  position: absolute;
  width: 280px;
}

.mob_item:before {
  content: '';
  display: inline-block;
  background: #57d8ff;
  height: 1px;
  width: 45px;
  margin-bottom: 30px;
}

.mob_item:nth-child(1) {
  left: 100%;
  top: -50px;
  margin-left: 135px;
}

.mob_item:nth-child(1) .mob_img {
  right: 100%;
}

.mob_item:nth-child(2) {
  right: 100%;
  top: 140px;
  text-align: right;
  margin-right: 215px;
}

.mob_item:nth-child(2) .mob_img {
  left: 100%;
}

.mob_item:nth-child(3) {
  left: 100%;
  bottom: -40px;
  margin-left: 190px;
}

.mob_item:nth-child(3) .mob_img {
  right: 100%;
}

.mob_img {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  margin: 0 45px;
}

.mob_title {
  font-size: 18px;
  color: #3a3839;
  font-family: "Gotham Pro Bold";
}

.mob_title_after {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
}

.footer {
  width: 100%;
  background: #3a3839;
  position: relative;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}

.footer_wrap {
  float: right;
  width: 350px;
  margin-left: 70px;
  padding-top: 100px;
}

.footer_img {
  position: absolute;
  height: 100%;
  width: calc(50% + 190px);
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
}

.footer .copyright {
  font-size: 12px;
  color: #a09fa1;
  margin-bottom: 25px;
}

.footer .copyright a {
  color: #fff;
}

.footer .social {
  margin-top: 70px;
}

.footer .social a {
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 70px;
}

.footer_title {
  color: #fff;
  font-family: "Gotham Pro Bold";
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer_title_after {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.form-control {
  padding-left: 50px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #545253;
  border-radius: 2px;
  font-size: 12px;
  margin-bottom: 20px;
  min-width: 300px;
}

#myAnchor {
  width: 10px;
  height: 10px;
  display: block;
}

.Container {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.Map-container {
  position: relative;
}

#Map-svg {
  width: 900px;
  max-width: 100%;
  height: auto;
}

#Map-globe {
  fill: #ededed;
}

.Location-nav {
  padding-bottom: 100px;
}

.Location-nav li {
  display: inline-block;
  color: #545253;
  font-size: 14px;
  margin: 0 15px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
}

.Location-nav li:hover {
  color: #8ee5ee;
}

/*# sourceMappingURL=main.css.map */
