.Container {
  margin: 0 auto;
  position: relative;

  text-align: center;
}

.Map-container {
  position: relative;
}

#Map-svg {
  width: 900px;
  max-width: 100%;
  height: auto;
}

#Map-globe {
  //fill: #f4f4f7;
  fill: #ededed;
}

.Location-nav {
  padding-bottom: 100px;
  li {
    display: inline-block;
    color: #545253;
    font-size: 14px;
    margin: 0 15px;
    transition: color 0.5s;
    cursor: pointer;
    &:hover {
      //color: #a3e6fb;
      color: #8ee5ee;
    }
  }
}