<form action="" type="submit">
    <div class="form-group required has-error">
        <input type="text" class="form-control" placeholder="Enter your email address">
        <div class="hint-block"></div>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn form-send">
    </div>

</form>