<header class="header">
    <div class="wrapper">
        <a href="#top" class="header_logo scroll-to">
            <div class="header_logo_img"></div>
            <span>Pingo</span>
        </a>
        <ul class="menu lang">
            <li class="active">
                <a href="#">en</a>
            </li>
            <li>
                <a href="#">ru</a>
            </li>
            <li>
                <a href="#">uk</a>
            </li>
        </ul>
        <ul class="menu paginator">
            <li>
                <a href="#about" class="scroll-to">about</a>
            </li>
            <li>
                <a href="#how" class="scroll-to">how it works</a>
            </li>
            <li>
                <a href="#stay" class="scroll-to">stay in touch</a>
            </li>
            <li>
                <a href="#facilities" class="scroll-to">facilities</a>
            </li>
            <li>
                <a href="#locations" class="scroll-to">locations</a>
            </li>
        </ul>
        <div class="social">
            <a href="#">
                {{>svg/fb}}
            </a>
            <a href="#">
                {{>svg/tw}}
            </a>
        </div>
        <a href="#subscribe" class="btn scroll-to">subscribe</a>
    </div>
</header>
