{{#each this}}
<div class="mobile_item">
    <div class="mobile_image">
        <img src="%=static=%img/content/mobile.png" alt="">
        <img src="%=static=%img/content/mob-1.jpg" alt="" class="mobile_image__in">
        <div class="mobile_number">
            {{number}}
        </div>
        <div class="mobile_title">
            {{title}}
        </div>
    </div>
    <div class="dot"></div>
</div>
{{/each}}

