{{#each this}}
<div class="mob_item">
    <img src="%=static=%img/content/{{{img}}}" class="mob_img">
    <div class="mob_title">
        {{{title}}}
    </div>
    <div class="mob_title_after">
        {{after_title}}
    </div>
</div>
{{/each}}

