<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head}}
</head>
<body>
{{> header/header}}
<section class="top" id="top">
    <!--<video class="video" loop autoplay>-->
        <!--<source src="static/img/content/video/putina_video.mp4" type='video/mp4'>-->
    <!--</video>-->
    <div class="wrapper">
        <div class="center">
            <div class="top_title">
                Best audioguides
            </div>
            <div class="top_title_after">Mobile app for travelers and local audioguides</div>
            <a href="#myAnchor" rel=""  class="top_title_form anchorLink">Subscribe to our updates</a>
            {{>form/form}}
        </div>
        <div class="box">
            <div class="box_in">
                <div class="mini_title">This is what we are about. This is our story...</div>
            </div>
        </div>
    </div>
</section>
<section class="about" id="about">
    <div class="wrapper">
        <div class="about_text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo
            consequat.
        </div>
        <div class="mobile_image">
            <img src="%=static=%img/content/mobile.png" alt="">
            <img src="%=static=%img/content/mob-1.jpg" alt="" class="mobile_image__in">
            <div class="mob_wrap">
                {{>mob-center/mobile mob_center}}
            </div>
        </div>
    </div>

</section>
<section class="how" id="how">
    <div class="wrapper">
        <div class="mini_title abs">How it works</div>
        <div class="video">
            <div class="video_btn"></div>
            <i></i>
            watch video
        </div>
        <div class="box">
            <div class="box_in">
                <div class="mini_title">Plan your trip today with PinGo</div>
                <a href="#myAnchor" rel=""  class="top_title_form anchorLink">Subscribe to our updates</a>
                <!--<a href="#" class="subscribe">subscribe to our updates</a>-->
                <!--<a href="#myAnchor" rel="" id="anchor2" class="anchorLink">Link to the anchor</a>-->
            </div>
        </div>
    </div>
    <canvas data-text="HOW IT WORKS" id="canvas"></canvas>
</section>
<div class="mobile" id="">
    <div class="wrapper_in">
        {{>mobile/mobile mobile}}
    </div>
</div>
<section class="facilities" id="facilities">
    <div class="wrapper">
        <div class="facilities_wrap">
            <div class="facilities_title">
                Go with guide<br>
                or explore by yourself
            </div>
            <div class="facilities_title_after">
                You can choose one of self guided tours if you prefer
                walking on your own
            </div>
            <!--<a href="#" class="subscribe">subscribe to our updates</a>-->
            <a href="#myAnchor" rel=""  class="top_title_form anchorLink">Subscribe to our updates</a>
        </div>
        <div class="box" style="background-image: url('%=static=%img/content/box.jpg')"></div>
    </div>
    <div class="podcast" style="background-image: url('%=static=%img/content/podcast.jpg')"></div>
</section>
<section class="stay" id="stay">
    <div class="wrapper">
        <div class="center">
            <div class="stay_title">
                Stay in touch enywhere
            </div>
            <div class="stay_after">
                Contact your guide anytime and follow the directions on your apple watch
            </div>
        </div>
    </div>


</section>

<section class="locations" id="locations">
    <div class="mini_title">
        Kiev is the best city for your trip
    </div>
    <div class="after">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
    </div>
    <img src="%=static=%img/content/location.png" alt="">
    <div class="mini_title">
        Soon we will be in <span>9</span> cities
    </div>
    {{>map/map}}
</section>

{{> footer/footer}}
</body>
</html>